# Extract

In [103]:
import pandas as pd

In [104]:
filename = '/kaggle/input/auto-prices-and-economic-trends-20192023/automobile_prices_economics_2019_2023.csv'
df = pd.read_csv(filename)
df

,Month/Year,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold
0,19-Jan,"25,000","18,000",1.60%,2.40%,"28,500"
1,19-Feb,"25,000","17,900",1.50%,2.40%,"29,000"
2,19-Mar,"25,000","17,800",1.90%,2.40%,"31,500"
3,19-Apr,"25,000","17,700",2.00%,2.40%,"30,000"
4,19-May,"25,000","17,600",1.80%,2.40%,"32,000"
...,...,...,...,...,...,...
56,23-Sep,"26,700","15,300",4.30%,5.25%,"72,000"
57,23-Oct,"26,800","15,400",4.00%,5.00%,"73,500"
58,23-Nov,"26,900","15,500",3.80%,4.75%,"74,000"
59,23-Dec,"27,000","15,600",3.50%,4.50%,"75,000"
60,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df.dtypes

Month/Year            object
New Price ($)         object
Used Price ($)        object
Inflation Rate (%)    object
Interest Rate (%)     object
Units Sold            object
dtype: object

# Transform

In [106]:
sz = len(df)
def print_lines(filename):
    f = open(filename)
    for i in range(sz):
        line = f.readline()
        print('line: ', i + 1, line)
    f.close()

In [107]:
print_lines(filename)

line:  1 Month/Year,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold

line:  2 19-Jan,"25,000","18,000",1.60%,2.40%,"28,500"

line:  3 19-Feb,"25,000","17,900",1.50%,2.40%,"29,000"

line:  4 19-Mar,"25,000","17,800",1.90%,2.40%,"31,500"

line:  5 19-Apr,"25,000","17,700",2.00%,2.40%,"30,000"

line:  6 19-May,"25,000","17,600",1.80%,2.40%,"32,000"

line:  7 19-Jun,"25,000","17,500",1.60%,2.40%,"33,000"

line:  8 19-Jul,"25,000","17,400",1.80%,2.40%,"34,500"

line:  9 19-Aug,"25,000","17,300",1.70%,2.40%,"35,000"

line:  10 19-Sep,"25,000","17,200",1.50%,2.40%,"33,500"

line:  11 19-Oct,"25,000","17,100",1.80%,2.40%,"31,000"

line:  12 19-Nov,"25,000","17,000",2.10%,2.40%,"30,000"

line:  13 19-Dec,"25,000","16,900",2.30%,2.40%,"29,500"

line:  14 20-Jan,"25,200","16,800",2.50%,1.75%,"28,000"

line:  15 20-Feb,"25,200","16,700",2.30%,1.75%,"29,000"

line:  16 20-Mar,"25,200","16,600",1.50%,1.75%,"20,500"

line:  17 20-Apr,"25,200","16,500",0.30%,0.25%,"18,000"

line:  18 20-May,"25,200","16,400",0.10%,0.25%,"21,000"

line:  19 20-Jun,"25,200","16,300",0.60%,0.25%,"25,000"

line:  20 20-Jul,"25,200","16,200",1.00%,0.25%,"27,000"

line:  21 20-Aug,"25,200","16,100",1.30%,0.25%,"28,500"

line:  22 20-Sep,"25,200","16,000",1.40%,0.25%,"30,000"

line:  23 20-Oct,"25,200","15,900",1.20%,0.25%,"29,000"

line:  24 20-Nov,"25,200","15,800",1.10%,0.25%,"28,500"

line:  25 20-Dec,"25,200","15,700",1.40%,0.25%,"29,000"

line:  26 21-Jan,"25,400","15,600",1.40%,0.25%,"27,500"

line:  27 21-Feb,"25,400","15,500",1.70%,0.25%,"28,000"

line:  28 21-Mar,"25,400","15,400",2.60%,0.25%,"32,000"

line:  29 21-Apr,"25,400","15,300",4.20%,0.25%,"33,500"

line:  30 21-May,"25,400","15,200",4.90%,0.25%,"35,000"

line:  31 21-Jun,"25,400","15,100",5.30%,0.25%,"36,500"

line:  32 21-Jul,"25,400","15,000",5.40%,0.25%,"38,000"

line:  33 21-Aug,"25,400","14,900",5.20%,0.25%,"39,000"

line:  34 21-Sep,"25,400","14,800",5.40%,0.25%,"40,500"

line:  35 21-Oct,"25,400","14,700",6.20%,0.25%,"41,000"

line:  36 21-Nov,"25,400","14,600",6.80%,0.25%,"42,500"

line:  37 21-Dec,"25,400","14,500",7.00%,0.25%,"43,000"

line:  38 22-Jan,"25,600","14,400",7.50%,0.25%,"45,000"

line:  39 22-Feb,"25,600","14,300",7.90%,0.25%,"46,500"

line:  40 22-Mar,"25,600","14,200",8.50%,0.50%,"48,000"

line:  41 22-Apr,"25,600","14,100",8.30%,0.75%,"47,500"

line:  42 22-May,"25,600","14,000",8.60%,1.00%,"50,000"

line:  43 22-Jun,"25,600","13,900",9.10%,1.50%,"51,000"

line:  44 22-Jul,"25,600","13,800",8.50%,2.50%,"52,000"

line:  45 22-Aug,"25,700","13,900",8.30%,2.50%,"53,000"

line:  46 22-Sep,"25,700","14,000",8.20%,3.00%,"55,000"

line:  47 22-Oct,"25,700","14,100",7.70%,3.50%,"56,000"

line:  48 22-Nov,"25,800","14,200",7.10%,3.75%,"58,000"

line:  49 22-Dec,"25,800","14,300",6.50%,4.25%,"59,000"

line:  50 23-Jan,"26,000","14,500",6.40%,4.50%,"60,000"

line:  51 23-Feb,"26,000","14,600",6.00%,4.75%,"61,500"

line:  52 23-Mar,"26,100","14,700",5.80%,5.00%,"63,000"

line:  53 23-Apr,"26,200","14,800",5.50%,5.25%,"64,000"

line:  54 23-May,"26,300","14,900",5.20%,5.50%,"65,000"

line:  55 23-Jun,"26,400","15,000",5.00%,5.75%,"67,000"

line:  56 23-Jul,"26,500","15,100",4.90%,5.75%,"68,500"

line:  57 23-Aug,"26,600","15,200",4.50%,5.50%,"70,000"

line:  58 23-Sep,"26,700","15,300",4.30%,5.25%,"72,000"

line:  59 23-Oct,"26,800","15,400",4.00%,5.00%,"73,500"

line:  60 23-Nov,"26,900","15,500",3.80%,4.75%,"74,000"

line:  61 23-Dec,"27,000","15,600",3.50%,4.50%,"75,000"

> ## Clean Data

In [108]:
df.isnull()

,Month/Year,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
56,False,False,False,False,False,False
57,False,False,False,False,False,False
58,False,False,False,False,False,False
59,False,False,False,False,False,False
60,True,True,True,True,True,True

In [109]:
df.head()

,Month/Year,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold
0,19-Jan,"25,000","18,000",1.60%,2.40%,"28,500"
1,19-Feb,"25,000","17,900",1.50%,2.40%,"29,000"
2,19-Mar,"25,000","17,800",1.90%,2.40%,"31,500"
3,19-Apr,"25,000","17,700",2.00%,2.40%,"30,000"
4,19-May,"25,000","17,600",1.80%,2.40%,"32,000"

In [110]:
df.isnull().sum()

Month/Year            1
New Price ($)         1
Used Price ($)        1
Inflation Rate (%)    1
Interest Rate (%)     1
Units Sold            1
dtype: int64

In [111]:
#Remove one row - the 60th index containing all the null values 
df.shape
try:
    df = df.drop(index=df.index[60])
    print("size is now: ", df.shape)
except:
    print("This has already been removed")
    print("size remains as: ", df.shape)

size is now:  (60, 6)

In [112]:
#Check that the null values are removed
df.isnull().sum()

Month/Year            0
New Price ($)         0
Used Price ($)        0
Inflation Rate (%)    0
Interest Rate (%)     0
Units Sold            0
dtype: int64

In [113]:
df['Month/Year']

0     19-Jan
1     19-Feb
2     19-Mar
3     19-Apr
4     19-May
5     19-Jun
6     19-Jul
7     19-Aug
8     19-Sep
9     19-Oct
10    19-Nov
11    19-Dec
12    20-Jan
13    20-Feb
14    20-Mar
15    20-Apr
16    20-May
17    20-Jun
18    20-Jul
19    20-Aug
20    20-Sep
21    20-Oct
22    20-Nov
23    20-Dec
24    21-Jan
25    21-Feb
26    21-Mar
27    21-Apr
28    21-May
29    21-Jun
30    21-Jul
31    21-Aug
32    21-Sep
33    21-Oct
34    21-Nov
35    21-Dec
36    22-Jan
37    22-Feb
38    22-Mar
39    22-Apr
40    22-May
41    22-Jun
42    22-Jul
43    22-Aug
44    22-Sep
45    22-Oct
46    22-Nov
47    22-Dec
48    23-Jan
49    23-Feb
50    23-Mar
51    23-Apr
52    23-May
53    23-Jun
54    23-Jul
55    23-Aug
56    23-Sep
57    23-Oct
58    23-Nov
59    23-Dec
Name: Month/Year, dtype: object

In [114]:
#Transform month/year columns into datatime
#Separate Month/Year as diff columns and into datetimes. The current format is in YEAR/MONTH. SO i have to change
# df['Month/Year'] = df['Month/Year'].transform
df[['Year','Month']] = df['Month/Year'].str.split('-',expand=True)
df['Year'] = df['Year'].apply(lambda x: '20' + x)
df['Year/Month'] = df['Year'] + " " + df['Month']
df.head()

,Month/Year,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold,Year,Month,Year/Month
0,19-Jan,"25,000","18,000",1.60%,2.40%,"28,500",2019,Jan,2019 Jan
1,19-Feb,"25,000","17,900",1.50%,2.40%,"29,000",2019,Feb,2019 Feb
2,19-Mar,"25,000","17,800",1.90%,2.40%,"31,500",2019,Mar,2019 Mar
3,19-Apr,"25,000","17,700",2.00%,2.40%,"30,000",2019,Apr,2019 Apr
4,19-May,"25,000","17,600",1.80%,2.40%,"32,000",2019,May,2019 May

In [118]:
df['Year/Month/Day'] = pd.to_datetime(df['Year/Month'])
df.dtypes

/tmp/ipykernel_31/519014179.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Year/Month/Day'] = pd.to_datetime(df['Year/Month'])

Month/Year                    object
New Price ($)                 object
Used Price ($)                object
Inflation Rate (%)            object
Interest Rate (%)             object
Units Sold                    object
Year                          object
Month                         object
Year/Month                    object
Year/Month/Day        datetime64[ns]
dtype: object

In [119]:
try:
    df.drop('Year/Month', axis=1, inplace=True)
    df.drop('Month/Year', axis=1, inplace=True)
    print("Completed")
except:
    print("This column has already been dropped")
df.head()

Completed

,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold,Year,Month,Year/Month/Day
0,"25,000","18,000",1.60%,2.40%,"28,500",2019,Jan,2019-01-01
1,"25,000","17,900",1.50%,2.40%,"29,000",2019,Feb,2019-02-01
2,"25,000","17,800",1.90%,2.40%,"31,500",2019,Mar,2019-03-01
3,"25,000","17,700",2.00%,2.40%,"30,000",2019,Apr,2019-04-01
4,"25,000","17,600",1.80%,2.40%,"32,000",2019,May,2019-05-01

In [120]:
# df['Month'] = df['Year/Month/Day']
df['Month'] = df['Year/Month/Day'].dt.month
df['Year'] = df['Year/Month/Day'].dt.year
df.head()

,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold,Year,Month,Year/Month/Day
0,"25,000","18,000",1.60%,2.40%,"28,500",2019,1,2019-01-01
1,"25,000","17,900",1.50%,2.40%,"29,000",2019,2,2019-02-01
2,"25,000","17,800",1.90%,2.40%,"31,500",2019,3,2019-03-01
3,"25,000","17,700",2.00%,2.40%,"30,000",2019,4,2019-04-01
4,"25,000","17,600",1.80%,2.40%,"32,000",2019,5,2019-05-01

In [121]:
#Correct the data types
#New Price & Used price remove commas and convert to numeric
#Inflation Rate & Interest rate convert to float
#Units sold remove comma and  convert to numeric 
try:
    df['New Price ($)'] = df['New Price ($)'].str.replace(',', '')
except:
    print("This has already been changed")

In [122]:
df['New Price ($)'] = pd.to_numeric(df['New Price ($)'])
df.head()

,New Price ($),Used Price ($),Inflation Rate (%),Interest Rate (%),Units Sold,Year,Month,Year/Month/Day
0,25000,"18,000",1.60%,2.40%,"28,500",2019,1,2019-01-01
1,25000,"17,900",1.50%,2.40%,"29,000",2019,2,2019-02-01
2,25000,"17,800",1.90%,2.40%,"31,500",2019,3,2019-03-01
3,25000,"17,700",2.00%,2.40%,"30,000",2019,4,2019-04-01
4,25000,"17,600",1.80%,2.40%,"32,000",2019,5,2019-05-01

In [123]:
df['Used Price ($)'] = pd.to_numeric(df['Used Price ($)'].str.replace(',',''))